{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true
}
