// app global css in SCSS form
@font-face {
  font-family: 'nanumgothic';
  font-style: normal;
  src: url(./fonts/NanumGothic.woff)
}

@font-face {
  font-family: 'nanumgothicbold';
  font-style: Bold;
  src: url(./fonts/NanumGothicBold.woff)
}

@font-face {
  font-family: 'branda';
  font-style: normal;
  src: url(./fonts/Branda-yolq.woff)
}

@font-face {
  font-family: 'bebas';
  font-style: normal;
  src: url(./fonts/BebasNeue-Regular.woff)
}

@font-face {
  font-family: 'anton';
  font-style: normal;
  src: url(./fonts/Anton-Regular.woff2)
}

@font-face {
  font-family: 'josefinsans';
  font-style: normal;
  src: url(./fonts/JosefinSans-VariableFont_wght.woff2)
}
